
.heros{
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
}
.heros .img{
    position: relative;
    width: 100%;
    margin: 0;
    height: 320px;
    /* background-color: black; */
    background-image: url('../../assets/about/mobile/image-about-hero.jpg');
    background-repeat: no-repeat;
    /* background-size: contain; */
    /* background-position: 0 0; */
}
.heros .hero-mesg{
    position: relative;
    width: 100%;
    height: 395px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #E7816B;
}
.hero-mesg .text{
    position: relative;
    height: 320px;
    /* background-color: blue; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    color: #fff;
}
.hero-mesg .text h1{
    margin-bottom: 18px;
}

@media screen and (min-width: 425px) {
    .heros .img{
        background-image: url('../../assets/about/desktop/image-about-hero.jpg');
        background-size: auto;
    }
    .hero-mesg .text{
        width: 327px;
    }
}