main{
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
}
.hero{
    position: relative;
    width: 100%;
    height: 843px;
    margin: 0;
    padding: 0;
    background-color: #E7816B;
    background-image: url('../../assets/home/desktop/bg-pattern-hero-home.svg');
    background-repeat: no-repeat;
    background-position: 0% 40%;
    background-size: auto;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hero .mesg{
    position: relative;
    width: 100%;
    height: 50%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero .mesg h1{
    margin-bottom: 20px;
    font-weight: 500;
}
.hero .mesg h3{
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 24px;
    letter-spacing: 1px;
    font-weight: 400;
}

.hero .mesg .text-mesg{
    position: relative;
    width: 337px;
    height: 312px;
}
.hero .img{
    width: 100%;
    height: 50%;
    position: relative;
    justify-content: center;
    display: flex;
    overflow: hidden;
}
.hero .img img{
    position: absolute;
    top: 50px;
    bottom: 0;
}

.project{
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0 1.5em;
    margin-top: 96px;
    display: grid;
    margin-bottom: 7.4em;
}
.project .flex .design{
    position: relative;
    width: 100%;
    height: 250px;
    background-color: #E7816B;
    border-radius: 15px;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 1.5em;
    overflow: hidden;
    transition: all .3s;
}
.project .flex .design :hover{
    background-color: rgba(0, 0, 0, 0.7);
}
.project .flex .web{
    background-image: url('../../assets/home/mobile/image-web-design.jpg');
}
.project .flex .app{
    background-image: url('../../assets/home/mobile/image-app-design.jpg');
}
.project .flex .graphic{
    background-image: url('../../assets/home/mobile/image-graphic-design.jpg');
}
.project .flex .design-text{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    color: #fff;
    gap: 10px;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
}
.project .flex .design-text h4{
    font-weight: 400;
    /* pointer-events: none; */
    cursor: pointer;
}

.message{
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0 1.5em;
}
.message .mesg-bdy{
    position: relative;
    width: 100%;
    height: 412px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 32px;
}
.mesg-bdy .illustration{
    position: relative;
    width: 202px;
    height: 202px;
    margin-bottom: 2.4em;
}
.mesg-bdy .illustration::before{
    position: absolute;
    content: '';
    width: 202px;
    height: 202px;
    border-radius: 50%;
}
.mesg-bdy .one::before{
    background: linear-gradient(90deg, rgba(93, 2, 2, 0.117569) 0%, rgba(93, 2, 2, 0.0001) 100%);
}
.mesg-bdy .two::before{
    background: linear-gradient(180deg, rgba(93, 2, 2, 0.0001) 0%, rgba(93, 2, 2, 0.117569) 100%);
}
.mesg-bdy .three::before{
    background: linear-gradient(180deg, rgba(93, 2, 2, 0.117569) 0%, rgba(93, 2, 2, 0.0001) 100%);
}
.mesg-bdy .illustration img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.mesg-bdy .text {
    position: relative;
    width: 100%;
    height: 162px;
    text-align: center;
}
.mesg-bdy .text h3{
    margin-bottom: 32px;
}
@media screen and (min-width: 48em) {
    main{
        padding: 0 1.5em;
    }
    .hero{
        background-position: 100% 45%;
        border-radius: 15px;
    }
    .hero .mesg{
        width: 100%;
        height: 100%;
    }
    .hero .mesg .text-mesg{
        width: 533px;

    }
   
    .hero .img{
        height: 100%;
    }
    .project .flex .design{
        height: 200px;
    }
    .project .flex .web{
        background-image: url('../../assets/home/tablet/image-web-design.jpg');
    }
    .project .flex .app{
        background-image: url('../../assets/home/tablet/image-app-design.jpg');
    }
    .project .flex .graphic{
        background-image: url('../../assets/home/tablet/image-graphic-design.jpg');
    }
  
    .message .mesg-bdy{
        margin-bottom: 2.4em;
        flex-direction: row;
        align-items: center;
        height: 202px;
        gap: 0;
        justify-content: space-between;
    }
    .mesg-bdy .illustration{
        margin: 0;
    }
    .mesg-bdy .text {
        width: 460px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: left;
    }
    .mesg-bdy .text h3{
        margin-bottom: 16px;
    }
}
@media screen and (min-width: 51.2em) {
    main{
        padding: 0;
    }
    .project{
        padding: 0;
    }
    .message{
        padding: 0;
    }
}
@media screen and (min-width: 75em) {
    .hero{
        height: 643px;
        flex-direction: row;
    }
    .hero .img img{
        top: unset;
        bottom: -70px;
    }
    .hero .mesg{
        /* justify-content: flex-end; */
        padding-left: 5.5em;
    }
    .hero .mesg .text-mesg{
        text-align: left;
    }
    .project{
        width: 100%;
        height: 640px;
        grid-template-columns: 1fr 1fr;
        grid-gap: 1.5em;
    }
    .project .flex {
        height: 100%;
    }
    .project .flex .design{
        margin-bottom: 0;
    }
    .project .flex1 .design{
        height: 100%;
    }
    .project .flex2 {
        display: flex;
        flex-direction: column;
        gap: 1.5em;
    }
    .project .flex2 .design{
        height: 50%;
    }
    .project .flex .web{
        background-image: url('../../assets/home/desktop/image-web-design-large.jpg');
    }
    .project .flex .app{
        background-image: url('../../assets/home/desktop/image-app-design.jpg');
    }
    .project .flex .graphic{
        background-image: url('../../assets/home/desktop/image-graphic-design.jpg');
    }
}
