.hero{
    position: relative;
    width: 100%;
    height: 843px;
    margin: 0;
    padding: 0;
    background-color: #E7816B;
    background-image: url('../../assets/home/desktop/bg-pattern-hero-home.svg');
    background-repeat: no-repeat;
    background-position: 0% 40%;
    background-size: auto;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hero .mesg{
    position: relative;
    width: 100%;
    height: 50%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero .mesg h1{
    margin-bottom: 20px;
    font-weight: 500;
}
.hero .mesg h3{
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 24px;
    letter-spacing: 1px;
    font-weight: 400;
}

.hero .mesg .text-mesg{
    position: relative;
    width: 337px;
    height: 312px;
}
.hero .img{
    width: 100%;
    height: 50%;
    position: relative;
    justify-content: center;
    display: flex;
    overflow: hidden;
}
.hero .img img{
    position: absolute;
    top: 50px;
    bottom: 0;
}
@media screen and (min-width: 48em) {
    .hero{
        background-position: 100% 45%;
        border-radius: 15px;
    }
    .hero .mesg{
        width: 100%;
        height: 100%;
    }
    .hero .mesg .text-mesg{
        width: 533px;

    }
   
    .hero .img{
        height: 100%;
    }
}
@media screen and (min-width: 75em) {
    .hero{
        height: 643px;
        flex-direction: row;
    }
    .hero .img img{
        top: unset;
        bottom: -70px;
    }
    .hero .mesg{
        /* justify-content: flex-end; */
        padding-left: 5.5em;
    }
    .hero .mesg .text-mesg{
        text-align: left;
    }
}
