.contact-us{
    position: relative;
    width: 100%;margin: 0;
    padding: 0;
    margin-top: 80px;
}
.contact-us .contact-bdy{
    position: relative;
    width: 100%;
    height: 764px;
    background-color: #E7816B;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background-image: url('../../assets/contact/mobile/bg-pattern-hero-contact-mobile.svg');
    background-repeat: no-repeat;
    background-position: 20% 0%;
}
.contact-bdy .contact-mesg{
    position: relative;
    width: 100%;
    height: 305px;
    padding: 0 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact-mesg .text{
    height: 184px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    color: white;
}
.contact-bdy .form-bdy{
    position: relative;
    width: 100%;
    margin: 0;
    height: 431px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: aquamarine;
}
.contact-bdy .form-bdy form{
    height: 410px;
    width: 90.4%;
    background-color: bisque;
}
.form-bdy .label{
    position: relative;
    background-color: #E7816B;
    margin-top: 36px;
    height: 26px;
}