.contact-us{
    position: relative;
    width: 100%;margin: 0;
    padding: 0;
    margin-top: 80px;
}
.contact-us .contact-bdy{
    position: relative;
    width: 100%;
    height: 764px;
    background-color: #E7816B;
    display: flex;
    /* justify-content: space-between; */
    flex-direction: column;
    background-image: url('../../assets/contact/mobile/bg-pattern-hero-contact-mobile.svg');
    background-repeat: no-repeat;
    background-position: 20% 0%;
}
.contact-bdy .contact-mesg{
    position: relative;
    width: 100%;
    height: 305px;
    padding: 0 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact-mesg .text{
    height: 184px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    color: white;
}
.contact-bdy .form-bdy{
    position: relative;
    width: 100%;
    margin: 0;
    height: 431px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: aquamarine; */
}
.contact-bdy .form-bdy form{
    height: 410px;
    width: 87.4%;
    /* background-color: bisque; */
    display: flex;
    /* justify-content: space-between; */
    flex-direction: column;
}
.form-bdy .label{
    position: relative;
    background-color: #E7816B;
    height: 67px;
}
.form-bdy .label1{
    height: unset;
    margin-top: 36px;
}
.label label{
    margin: 0;
    padding: 0;
}
.label label input, .label textarea{
    position: relative;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    background-color: #E7816B;
    color: #fff;
}

.label label input::placeholder, .label textarea::placeholder{
    color: #fff;
}
.label label input, .label textarea{
    border-bottom: 1px solid #fff;
}
.label label input:focus, .label textarea:focus{
    border-bottom: 2px solid #fff;
    background-color: inherit;
}
.label p{
    position: absolute;
    background-image: url('../../assets/contact/desktop/icon-error.svg');
    background-repeat: no-repeat;
    background-position:0%;
    width: 100%;
    height: 27px;
    bottom: 0;
}
.label p i{
    position: absolute;
    color: red;
    bottom: 0;
    left: 24px;
    font-weight: 400;
    font-size: 14px;
}
