header{
    position: relative;
    width: 100%;
    margin: 0;
    padding: 1.4rem 1rem;
    background-color: #fff;
}
.header{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header a img{
    width: 196px;
    height: 24px;
}
/* .header nav {
    display: none;
} */

@media (max-width: 48em) {
    .header nav{
        position: fixed;
        top: 4.4rem;
        width: 100%;
        left: 0;
        margin-inline: auto;
        padding-block: 20px;
        background-color: #000;
        transition: all .7s;
        display: block;
        z-index: 1;
        height: 275px;
        scale: 0;
        opacity: 0;
        display: flex;
        justify-content: center;
    }
    .header .open{
        scale: 1;
        opacity: 1;
    }
    .header nav ul {
        display: flex;
        flex-direction: column;
        gap: 16px;
        width: auto;
        justify-content: center;
        align-items: center;
    }
    .header nav ul li a{
        font-size: 1.5em;
        font-weight: 400;
        letter-spacing: 2px;
        line-height: 25px;
        color: #fff;
    }
}
@media (min-width: 48em) {
    header{
        padding: 0 1em;
    }
    .header{
        height: 95px;
    }
    .header nav{
        display: block;
    }
    .header nav ul{
        position: relative;
        display: flex;
        align-items: center;
        gap: 20px;
    }
    .header nav ul li a{
        color: #333136;
        font-size: 0.875em;
        font-weight: 500;
    }
    .header .hamburger{
        display: none;
    }
    
}