header{
    position: relative;
    width: 100%;
    margin: 0;
    padding-block: 1rem;
    background-color: #fff;
}
.header{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header a img{
    width: 196px;
    height: 24px;
}
/* .header nav {
    display: none;
} */

@media (max-width: 50em) {
    .header nav{
        position: fixed;
        top: 3.7rem;
        width: 100%;
        left: 0;
        margin-inline: auto;
        padding-block: 20px;
        background-color: #000;
        display: block;
        z-index: 1;
        height: 275px;
        display: none;
    }
    .header nav ul {
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: auto;
        justify-content: center;
        align-items: center;
    }
    .header nav ul li a{
        font-size: 24px;
        font-weight: 400;
        letter-spacing: 2px;
        line-height: 25px;
        color: #fff;
    }
}
@media (min-width: 50em) {
    .header nav{
        display: block;
    }
    .header nav ul{
        position: relative;
        display: flex;
        align-items: center;
        gap: 20px;
    }
    .header nav ul li a{
        color: #333136;
    }
    .header .hamburger{
        display: none;
    }
    
}