footer{
    position: relative;
    width: 100%;
    padding: 0 1.5em;
    background-color: #333136;
    height: 815px;
    padding-top: 253px;
    margin-top: 300px;
    bottom: 0;
}
.talk{
    position: absolute;
    background-color: #E7816B;
    border-radius: 15px;
    top: -80%;
    height: 379px;
    width: 100%;
    padding: 14px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 35px;
    align-items: center;
    background-image: url('../../assets/shared/mobile/bg-pattern-design-pages-intro-mobile.svg');
    background-size: contain;
    background-size: 120%;
    background-position: 100% 100%;
    background-repeat: no-repeat;
}
.talk .talk-text{
    position: relative;
    text-align: center;
    margin-inline: auto;
    /* width: 299px; */
    /* height: 173px; */
    color: #fff;
}
.talk .talk-text h1{
    margin-bottom: 20px;
}
footer .footer-link{
    position: relative;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 540px;
    /* height: 498px; */
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.list{
    position: relative;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin-inline: auto;
    height: 228px;
}
.list nav{
    position: relative;
    width: 100%;
}
.list .logo{
    position: relative;
    width: 202px;
    height: 27px;
}
.list nav::before{
    position: absolute;
    content: '';
    width: 100%;
    height: 1px;
    top: -40px;
    background-color: rgba(253, 243, 240, 0.3);
}
.list .logo img{
    width: 200px;
    height: 27px;
}
.list nav ul{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 100%;
    height: 127px;
    justify-content: flex-end;
    justify-content: flex-start;
    align-items: center;
}
.list nav ul li a{
    font-size: 1.5em;
    font-weight: 400;
    letter-spacing: 2px;
    line-height: 25px;
    color: rgba(255, 255, 255, .9);
}
.details{
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
    height: 280px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.details .detail{
    height: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}
.detail .detail-item{
    display: flex;
    flex-direction: column;
    color: rgba(255, 255, 255, 0.4);
    align-items: center;
}
.detail .detail-item .opac{
    letter-spacing: 1px;
    font-size: .8em;
}
.detail .detail-item .bold{
    color: rgba(255, 255, 255, 0.6);
    font-weight: 700;
}
.details .social{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 20%;
}
.social ul{
    display: flex;
    align-items: center;
    gap: 14px;
    width: auto;
}

@media (min-width: 48em) {
    /* list{
        padding: 0 1em;
    } */
    .list{
        height: 95px;
    }

    .list nav ul{
        position: relative;
        display: flex;
        align-items: center;
        gap: 20px;
    }
    .list nav ul li a{
        color: #fff;
        font-size: 0.875em;
        font-weight: 500;
    }
  
}
@media screen and (min-width: 51.2em) {
    footer{
        padding: 0;
    }
}