*{
    position: relative;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.app{
    position: relative;
    width: 100%;
    font-family: sans-serif;
}
a{
    color: inherit;
    text-decoration: none;
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

.app .container{
    --max-width: 1110px;
    width: min(1110px, 100% - 1rem);
    margin-inline: auto;
}
/* @media (min-width: 768px){
    .app .container{
        max-width: 1110px;
    }
} */